extends layout

block script
  script(src="/login.js")

block layout-content
  div.View.WelcomeView
    h1(onclick="window.location='/'").Banner OAK
    div.Message.Center
      div.Title
        h3(id="header") Login
      if err
        div(id="err").Err #{err}
      form(method="post", action="/login", id="login-form")
        div.form-group
          input(placeholder="Username", name="username", type="text", id="usernameInput").form-control
        div.form-group
          input(placeholder="Password", name="password", type="password", id="passwordInput").form-control
        div.NavButtons
          button(type="submit", id="go").NavButton Go
