extends layout

block script
  script(src="/login.js")

block layout-content
  div.View.WelcomeView
    h1(onclick="window.location='/'").Banner.Brand OakGrades
    div.Message.LoginMessage
      //
        div.Title
          h1 Welcome to OakGrades!
        div.Title.Details
          div OakGrades is compatible with the Aspen gradebook system.
          div We do not save any personal information.
      div.Title.Login
        h3(id="header").text-center Log In
      if err
        div(id="err").text-center.Err #{err}
      form(method="post", action="/login", id="login-form")
        div.form-group
          input(placeholder="Username", name="username", type="text", id="usernameInput").form-control
        div.form-group
          input(placeholder="Password", name="password", type="password", id="passwordInput").form-control
        div.NavButtons
          button(type="submit", id="go").NavButton Go
      //
        div.Section#shortcuts
          div.Title
            h3 Using iOS?
          div.Details
            div Add our shortcut to your home screen!
            div You must allow untrusted shortcuts in Settings.
          div.NavButtons
            a(href="https://www.icloud.com/shortcuts/66f56357af294713b291f220c90f19bc")
              div.NavButton Safari
            a(href="https://www.icloud.com/shortcuts/60353d21bc4840738681cb905b08a591")
              div.NavButton Chrome
    //
      div.NavButtons
        a(href="/blog")
          div.NavButton Blog
        a(href="/contact")
          div.NavButton Contact
