@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

::-webkit-scrollbar {
  display: none;
}

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;

  --core-font: "Merriweather Sans", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #4b8b3b;
  --highlight-secondary: #BBBE64;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3
 {
  font-family: var(--header-font);

  padding: 0;
  margin: 0;

  color: var(--secondary);
}

h1.Banner {
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;
  padding: 20px;

  background-size: cover;
  font-family: var(--core-font);
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: var(--logo-font);

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);

  margin-bottom: 10px;
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);

  border-radius: 3px;

  /* add'l styles */
  max-width: 95%;
  max-height: 75%;
  overflow: scroll;
}

.Message > .Title {
  padding-bottom: 20px;
}

/* allow space for error message */
.Title.Login {
  padding-bottom: 10px;
}

/* welcome page styles */
.Dashboard {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);

  border-radius: 3px;

  margin: auto;

  max-width: 95vw;

}

/*
.Dashboard .Title h1 {
  padding-bottom: 20px;
}
*/

.Dashboard > .Shortcut {
  padding-top: 20px;
}

.Dashboard .Details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1.5em;
}

.Dashboard a {
  text-decoration: none;
}

.Dashboard .NavButtons {
  display: flex;
  width: 100%;

  justify-content: center;

  align-items: center;
  padding: 20px;
}

/* end welcome page styles */


#login-form {
  padding-top: 10px;
}

.Message > .Err {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: darkred;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  width: 100%;

  justify-content: center;

  align-items: center;
  padding: 0 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  margin: 5px;

  background: var(--highlight);

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.NavButtons > a:hover, .Assignments a:hover {
  text-decoration: none;
}

.WelcomeView {
  background: url("oak.jpg") right top/*bottom*/;
  background-size: cover;
}

.Center {
  margin: auto;
}

.CenterX {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  flex-direction: column;
}

.hover tr:hover, .hover tr:focus, .hover tr:active {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}

.Grades.hover thead:hover, .Grades.hover thead:focus, .Grades.hover thead:active,
.Grades.hover thead tr:hover, .Grades.hover thead tr:focus, .Grades.hover thead tr:active,
.noHover:hover, .noHover:focus, .noHover:active {
  cursor: initial;
  background-color: initial;
}

td:nth-child(2) {
  max-width: 300px;
}

.NavButton:hover, .NavButton:focus, .NavButton:active {
  background: var(--highlight-secondary);
  border: none;
  box-shadow: none;
}

.table td {
  vertical-align: middle;
}

.Assignments td:first-child {
  width: 100px;
}

.Assignments td:nth-child(2) {
  width: 80px;
}

.Assignments td:nth-child(3) {
  width: 80px;
}

.assignmentsClassName, .assignmentsDropdownIcon {
  display: inline-block;
}



/* width-variable styles */
@media only screen and (min-width: 700px) {
  .under-600px {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .over-600px {
    display: none;
  }
  .Grades {
    padding: 30px;
  }
  td:first-child {
    padding-right: 0;
  }
  .WelcomeView {
    background: url("oakMobile.jpg") right top;
  }
}

@media only screen and (max-width: 900px) {
  .over-900px {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .under-900px {
    display: none;
  }
  .NavButton:hover {
    transition: all 0.8s;
  }
}

@media only screen and (min-width: 1600px) {
  table {
    max-width: 75vw;
  }
}
