@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;

  --highlight: #4b8b3b;
  --highlight-secondary: #BBBE64;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: var(--secondary);
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;


  height: 100%;
  width: 100%;


  padding: 20px;

  background-size: cover;

  font-family: var(--core-font);
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: var(--logo-font);

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);

  /* new styles */
  margin-bottom: 10px;
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);

  /* new styles */
  border-radius: 3px;
  /*
  width: 360px;
  position: relative;
  bottom: 30px;
  */
}

.Message > .Title {
  padding-bottom: 20px;
}

/* allow space for error message */
.Title.Login {
  padding-bottom: 10px;
}

#login-form {
  padding-top: 10px;
}

.Message > .Err {
  /* new styles */
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: darkred;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  width: 100%;

  /* new styles */
  justify-content: center;/*space-around;*/

  align-items: center;
  padding: 0 20px;

  /* new styles
  flex-direction: column;
  */
}

.Buffer-Top {
  /* new styles
  margin-top: 30px;
  */
}

.NavButton {
  /* new style
  border-color: inherit;
  */

  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  /* new styles
  margin-top: 10px;
  margin-bottom: 10px;
  */
  margin: 5px;

  background: var(--highlight);

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

/* new styles */
.NavButtons > a:hover {
  text-decoration: none;
}

/* new styles */
.WelcomeView {
  background: url("oak.jpg") left top/*bottom*/;
  background-size: cover;
}


.Center {
  margin: auto;
}

.CenterX {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  flex-direction: column;
}

table {
  /*
  max-width: 95vw;
  overflow: hidden;
  background-color: white;
  padding: 30px;
  */
}

td:first-child {
  /*max-width: 200px;*/
}

.hover tr:hover, .hover tr:active, .hover tr:focus {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1)
}

.hover thead tr:hover, .hover thead tr:active, .hover thead tr:focus{
  cursor: initial;
  background-color: initial;
}

td:nth-child(2) {
  max-width: 300px;
}

div.NavButton.darken:hover, div.NavButton.darken:active, div.NavButton.darken:focus {
  background: var(--highlight-secondary);
  border: none;
  box-shadow: none;
}

/* mobile styles */
@media only screen and (min-width: 600px) {
  .under-600px {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .over-600px {
    display: none;
  }
  .Grades {
    padding: 30px;
  }
  td:first-child {
    padding-right: 0;
  }
  .Assignments td:first-child {
    max-width: 150px;
  }
}

/* tablet styles */
@media only screen and (max-width: 750px) {
  .Message {
    max-width: 95%;
    max-height: 75%;
    overflow: scroll;
  }
}

/* desktop styles */
@media only screen and (max-width: 900px) {
  .over-900px {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .under-900px {
    display: none;
  }
}

/* large screen styles */
@media only screen and (min-width: 1600px) {
  table {
    max-width: 75vw;
  }
}

.table td {
  vertical-align: middle;
}
