extends layout

block script
  script(src="/login.js")

block layout-content
  div.View.WelcomeView.LoginView
    h1(onclick="window.location='/'").Banner.Brand OakGrades<br><span id="brandMessage">Compatible with Aspen</span>
    div.LoginBox
      div.Message.LoginMessage
        div.Title.Login
          h3(id="header").text-center Log In
        if err
          div(id="err").text-center.Err #{err}
        form(method="post", action="/login", id="login-form")
          div.form-group
            input(placeholder="Username", name="username", type="text", id="usernameInput").form-control
          div.form-group
            input(placeholder="Password", name="password", type="password", id="passwordInput").form-control
          div.NavButtons
            button(type="submit", id="go").NavButton Go
