extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner OAK
    div.Message.CenterX
      div.Title
        h3 Login
      div.Err #{err}
      form(method="post", action="/login", id="login-form", onSubmit="document.getElementById('login-form').disabled=true")
        div.form-group
          input(placeholder="Username", name="username", type="text").form-control
        div.form-group
          input(placeholder="Password", name="password", type="password").form-control
    div.NavButtons
      a(href="/login")
        div.NavButton Log in
